.header__lang-link-wrapper {
    margin-top: 18px;
    margin-bottom: 6px;
}

@media screen and (width: 320px) {
    .header__lang-link-wrapper {
        height: 20px;
        margin-top: 14px;
        margin-bottom: 8px;
    }
}
